<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--将数据库中的下划线的命名映射为java中的驼峰命名分格-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    
    <!--别名-->
    <typeAliases>
       <!--<typeAlias type="com.kaishengit.entity.Student" alias="Student"/>-->
        <package name="com.kaishengit.entity"/>
    </typeAliases>
    
    
    <!--配置数据库环境（可配多个）根据default="" 属性的值切换在什么环境下使用什么配置-->
    <environments default="dev">
        <environment id="dev">
            <!--使用JDBC事物管理器（transactionManager） -->
            <transactionManager type="JDBC"></transactionManager>
            <!--dataSource配置数据库的连接属性，type="pooled"
            属性值为pooled时Mybatis会创建一个数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///stu"/>
                <property name="username" value="root"/>
                <property name="password" value="123123"/>
            </dataSource>
        </environment>
    </environments>

    <!--配置mapper文件-->
    <mappers>
        <!--classpath中的路径 即源代码的根目录-->
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/DeptMapper.xml"/>
        <mapper resource="mapper/MovieMapper.xml"/>
        <mapper resource="mapper/TagMapper.xml"/>
    </mappers>
</configuration>