<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--构造方法注入-->
    <bean id="userDao" class="com.kaishengit.dao.UserDao"/>

    <!--当没有无参的构造方法时，会抛错,因为有参的构造方法类,
    name为参数名ref为被注入类在Spring容器中的名字-->
    <bean id="userService" class="com.kaishengit.service.impl.UserServiceImpl">
        <!--name注入 推荐使用-->
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="name" value="dff"/>
        <!--set和构造方法共用-->
        <property name="address" value="tianjin"/>
        <!--index注入-->
        <!--<constructor-arg index="0" ref="userDao"/>-->
        <!--type注入 type="com.kaishengit.dao.UserDao" UserDao类型
        有多个相同类型的参数就不行了-->
       <!-- <constructor-arg type="com.kaishengit.dao.UserDao" ref="userDao"/> -->
    </bean>


</beans>